.wrapper {
    display: flex;
    
}

.details {
    display: flex;
    flex-direction: column;
    
}

.detailsContainer {
    display: flex;
    max-height: 70%;
    margin-top: 100px;
    width: 100%;
    
}

.imageContainer {
    max-width: 40%;
    min-width: 300px;
}

.image {
    width: 100%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    max-width: 800px;
}

.downloadBtn {
   min-width: 100px;
   max-width: 150px;
   margin-bottom: 50px;
   margin-top: 20px;
   padding: 20px;
   text-decoration: none;
   background-color: #800000;
   color: white;
   text-align: center;
   border-radius: 20px;
}

.downloadBtn:hover {
    cursor: pointer;
    background-color: limegreen;
    color: white;
}

.span {
    font-weight: bolder;
    font-style: italic;
    color: maroon;
}

.buttonWraper {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    align-items: center;
    max-width: 30%;
}

.review {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow: scroll;
    max-width: 80%;
    background-color: #E1DCC5;
    
}

.reviewText {
    padding: 0 20px;
}