.wrapper {
    display: flex;
   
}

.details {
    display: flex;
    flex-direction: column;
    
}

.detailsContainer {
    display: flex;
    max-height: 70%;
    margin-top: 100px;
    width: 100%;
    
}

.imageContainer {
    max-width: 40%;
    min-width: 300px;
}

.image {
    width: 100%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    max-width: 800px;
}

.buttonWrapper {
    margin: 10px 0;
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: baseline;
    justify-content: center;
}

.editBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 10px 10px;
    text-decoration: none;
    color: orange;
    background-color: #F7F4C9;
    text-align: center;
    border-radius: 20px;
    border-radius: 50%;
    border: 2px solid orange;
}

.downloadBtn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   margin-bottom: 50px;
   margin-top: 20px;
   padding: 10px 10px;
   text-decoration: none;
   color: white;
   border-radius: 50%;
   color: seagreen;
   background-color: #F5FFFA;
   border: 2px solid seagreen;
}

.downloadBtn:hover {
    cursor: pointer;
    background-color: seagreen;
    color: white;
    transform: scale(1.2);
}

.editBtn:hover {
    cursor: pointer;
    background-color: orange;
    color: white;
    transform: scale(1.2);
}

.span {
    font-weight: bolder;
    font-style: italic;
    color: maroon;
}

.leftSide {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    align-items: center;
    max-width: 30%;
   
}

.review {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow: scroll;
    max-width: 80%;
    background-color: #E1DCC5;
    
}

.reviewText {
    padding: 0 20px;
}

/* Styles only for Likes */
.likesContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}

.likeBtn {
    background-color: #E8EAE9;
    color: #0F5EC6;
    display: flex;
    align-items: baseline;
    border: 2px solid #0F5EC6;
    width: 100px;
    justify-content: center;
    border-radius: 5px;
}

.unlikeBtn {
    background-color: #F3E6E6;
    color: #C40106;
    display: flex;
    align-items: baseline;
    border: 2px solid #C40106;
    width: 100px;
    justify-content: center;
    border-radius: 5px;
}

.likeBtn > i , .unlikeBtn > i {
    margin-left: 20px;
}

.likeBtn:hover, .unlikeBtn:hover {
    cursor: pointer;
    transform:scale(1.2);
}

.userSpecialBtn {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}

.deleteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    color: #C40106;
    background-color: #F3E6E6;
    border: 2px solid #C40106;
}

.deleteBtn:hover {
    color: white;
    background-color: #C40106;
    transform: scale(1.2);
}