.section {
    display: flex;
    flex-direction: column;
    background-color: #E1DCC5;
    width: 100%;
}

.categoryLink {
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 20px;
}

