.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #333333;
    color: white;
    position: relative;
   
}

.headerLogo {
    margin-left: 50px;
    font-size: 20px;
    font-style: italic;
    color: white;
    text-decoration: none;
}

.headerLogo:hover {
    cursor: pointer;
    font-weight: bold;
}

.headerNav {
    margin-right: 50px;
}

.headerNavUl {
    display: flex;
}

.headerNavElement {
    text-decoration: none;
    list-style-type: none;
    margin-right: 25px;
}

.headerNavLink:hover {
    text-decoration: underline;
    color: darkgoldenrod;
    cursor: pointer;
}

.headerNavLink {
    text-decoration: none;
    color: white;
}

.navbar {
    z-index: 1;
    position: relative;
}

.username {
    color:lightgray;
    font-weight: bolder;
    font-style: italic;
}

@media screen and (max-width: 900px) {
    
    .header {
        flex-wrap: wrap;
        justify-content: space-between;
        min-width: 100%;
    }

    .headerLogo {
        width: 30%;
        margin-top: 25px;
    }

    .navbar {
        margin-top: 25px;
        width: 30%;
        padding-right: 50px;
    }

    .headerNav {
        margin-left: 12%;
        margin-top: 20px;
       
    }
}

@media screen and (max-width: 600px) {
    .headerNav {
        margin-left: 5%;
        margin-top: 20px;
       
    }
}