.footer {
    display: flex;
    background-color: #333333;
    color: white;
    align-items: center;
    justify-content: center;
}

.footerLogo {
    margin-right: 50px;
}

.footerLogoLink {
    text-decoration: none;
    color: white;
}

.footerLogoLink:hover {
    text-decoration: underline;
    color: darkgoldenrod;
    cursor: pointer;
}