.footer {
    display: flex;
    background-color: #333333;
    color: white;
    align-items: center;
    justify-content: center;
}

.footerLogo {
    margin-right: 100px;
}

.footerLogoLink {
    text-decoration: none;
    color: white;
}

.footerLogoLink:hover {
    text-decoration: underline;
    color: darkgoldenrod;
    cursor: pointer;
}

.reactFooter {
    margin-right: 100px;
    color: #5FD6F7;
    display: flex;
    align-items: center;
}

.reactFooter > i {
    margin-left: 15px;
}

@media screen and (max-width: 600px) {
    
    .footer {
        flex-direction: column;
    }
    
    .reactFooter, .footerLogo {
        margin: 10px 0;
    }
}